@import "libs/color.scss";
@import "libs/fonts.scss";
@import "libs/others.scss";

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    box-sizing: border-box;
    font-family: $ff-2;
}

body {
    color: $text-color;
    background-color: $bg-color;
    height: 1000px;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
section {
    padding: 3rem 0 2rem;
}
.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

%btn {
    padding: 17px 25px;
    background-color: $text-color;
    color: $text-alter-color;
    margin: 8px 0;
    border-radius: 3rem;
}
.title {
    font-size: 3.5rem;
    font-weight: $fw-800;
}

/*HEADER*/
header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 5;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 17px 28px;
    border-radius: 2rem;
    background-color: $text-color;
}
.logo {
    font-size: 1.4rem;
    font-weight: $fw-700;
    color: $container-color;
}
.navbar {
    display: flex;
    justify-content: center;
    gap: 28px;
    font-size: .95rem;
    a {
        font-family: $ff-poppins;
        color: $text-alter-color;
        transition: $transition-1;
        &:hover {
            color: $container-color;
        }
    }
}
.nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    font-size: 20px;
    a {
        color: $text-alter-color;
        transition: $transition-1;
        &:hover {
            color: $container-color;
        }
    }
}
/*HOME SECTION*/

.home {
    min-height: 650px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    color: $main-color;
}

.left-content {
    .home-text {
        max-width: 75%;
        font-weight: $fw-600;
        font-family: $ff-poppins;
        margin: 12px 0;
    }
    .btn-home {
        @extend %btn;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        transition: $transition-1;
        margin-top: 18px;
        span {
            font-family: $ff-poppins;
            font-size: 1.125rem;
        }
        i {
            background-color: orangered;
            border-radius: 50%;
            padding: 8px;
            color: white;
            font-size: 18px;
            transform: rotate(60deg);
            transition: $transition-1;
        }
        &:hover {
            cursor: pointer;
            color: $container-color;
        }
        &:hover i {
            transform: rotate(180deg);
        }
    }
}

/* SERVICE SECTION */

.service-title {
    text-align: center;
    margin-bottom: 25px;
}
.content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    .service-card {
        width: 85%;
        height: 75%;
        background-color: $main-color;
        color: $container-color;
        border-radius: 25px;
        text-align: center;
        padding: 25px;
        margin-block: 35px;
        h3 {
            text-transform: capitalize;
            font-size: 0.95rem;
        }
    }
}

/* PRODUCTS SECTION */ 

.product-header{
    text-align: center;
    .title {
        margin-bottom: 28px;
        text-transform: capitalize;
    }
    .text {
        font-family: $ff-poppins;
        text-align: center;
        padding: 2px 85px;
        margin-bottom: 35px;
    }
}
.product-body {
    background-color: $product-bg;
    padding: 30px 60px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: space-between;
    gap: 2rem;
    .product-card {
        padding: 8px 15px;
        background-color: $bg-color;
        border-radius: 1rem;
        .bx-heart {
            color: rgb(216, 16, 50);
            margin-top: 15px;
            margin-left: 10px;
        }
        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                height: 150px;
                width: 150px;
                border-radius: 50%;
                margin-bottom: 15px;
            }
            .sm-description {
                padding: 4px 8px;
                border: solid 1.5px $main-color;
                font-family: $ff-poppins;
                font-size: 0.675rem;
                border-radius: 3rem;
                margin: 15px 0;
            }
            .card-title {
                color: $main-color;
                text-align: center;
                margin-bottom: 18px;
            }
        }
        .footer {
            display: flex;
            justify-content: space-between;
            padding: 18px 0;
            i {
                color: white;
                padding: 6px;
                border-radius: 50%;
                background-color: $second-color;
                transition: $transition-1;
                &:hover {
                    background-color: $main-color;
                    cursor: pointer;
                }
            }
        }
    }
}

/* TEAM SECTION */
.team {
    .title {
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 35px;
    }
}
.team-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    img {
        height: 500px;
        border-radius: 8px;
    }
    .card-body {
        padding: 8px;
    }
    .name {
        font-size: 0.9rem;
        color: $main-color;
        font-family: $ff-poppins;
        margin: 12px 0;
    }
    .card-title {
        color: $text-alter-color;
        font-family: $ff-poppins;
        font-size: 0.8rem;
        margin-bottom: 15px;
    }
    .text {
        font-size: 0.9rem;
        font-family: $ff-poppins;
        color: $text-alter-color;
        margin-top: 15px;

        text-align: left;
    }
}

/* REVIEW SECTION */

.review {
    .title {
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 45px;
    }
}

.card-review {
    width: 80%;
    margin-inline: auto;
    padding: 15px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main-color;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        border: 8px solid white;
        box-shadow: 0 8px 16px hsla(355, 25%, 15%, .1);
    }
    .card-title {
        margin: 15px 0;
        font-family: $ff-poppins;
        font-size: .9rem;
        font-weight: $fw-400;
    }
    .theme {
        font-size: 1.25rem;
        margin: 15px 0;
        font-weight: $fw-700;
        text-align: center;
    }
    p {
        padding: 15px 60px;
        text-align: center;
        font-size: 0.875rem;
        font-family: $ff-poppins;
        font-weight: $fw-500;
    }
}
.swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    border-radius: 0.2rem;
    background-color: $main-color !important;
    opacity: 1;
    transition: $transition-1;
}
.swiper-pagination-bullet-active {
    width: 1.5rem;
    background-color: $second-color !important;
    transition: $transition-1;
}