@import "libs/color.scss";
@import "libs/fonts.scss";
@import "libs/others.scss";

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
    box-sizing: border-box;
    font-family: $ff-2;
    list-style: none;
}

body {
    color: $text-color;
    background-color: $bg-color;
    height: 1000px;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
}
section {
    padding: 3rem 0 2rem;
}
.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

%btn {
    padding: 17px 25px;
    background-color: $text-color;
    color: $text-alter-color;
    margin: 8px 0;
    border-radius: 3rem;
}
.btn {
    @extend %btn;
}
.title {
    font-size: 3.5rem;
    font-weight: $fw-800;
}
/*HEADER*/
header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 5;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 17px 28px;
    border-radius: 2rem;
    background-color: $text-color;
}
.logo {
    font-size: 1.4rem;
    font-weight: $fw-700;
    color: $container-color;
    &:hover {
        cursor: pointer;
    }
}
.navbar {
    display: flex;
    justify-content: center;
    gap: 28px;
    font-size: .95rem;
    a {
        font-family: $ff-poppins;
        color: $text-alter-color;
        transition: $transition-1;
        &:hover {
            color: $container-color;
        }
    }
}
.nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    font-size: 20px;
    a {
        color: $bg-color;
        transition: $transition-1;
        &:hover {
            color: $container-color;
        }
    }
}
.menu-icon {
    display: none;
}
/*HOME SECTION*/

.home {
    min-height: 650px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    color: $main-color;
}

.left-content {
    .home-text {
        max-width: 75%;
        font-weight: $fw-600;
        font-family: $ff-poppins;
        margin: 12px 0;
    }
    .btn-home {
        @extend %btn;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        transition: $transition-1;
        margin-top: 18px;
        span {
            font-family: $ff-poppins;
            font-size: 1.125rem;
        }
        i {
            background-color: orangered;
            border-radius: 50%;
            padding: 8px;
            color: white;
            font-size: 18px;
            transform: rotate(60deg);
            transition: $transition-1;
        }
        &:hover {
            cursor: pointer;
            color: $container-color;
        }
        &:hover i {
            transform: rotate(180deg);
        }
    }
}

/* SERVICE SECTION */

.service-title {
    text-align: center;
    margin-bottom: 25px;
}
.content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 30px;
    .service-card {
        width: 85%;
        height: 75%;
        background-color: $main-color;
        color: $container-color;
        border-radius: 25px;
        text-align: center;
        padding: 25px;
        margin-block: 35px;
        h3 {
            text-transform: capitalize;
            font-size: 0.95rem;
        }
    }
}

/* PRODUCTS SECTION */ 

.product-header{
    text-align: center;
    .title {
        margin-bottom: 28px;
        text-transform: capitalize;
    }
    .text {
        font-family: $ff-poppins;
        text-align: center;
        padding: 2px 85px;
        margin-bottom: 35px;
    }
}
.product-body {
    background-color: $product-bg;
    padding: 30px 60px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: space-between;
    gap: 2rem;
    .product-card {
        padding: 8px 15px;
        background-color: $bg-color;
        border-radius: 1rem;
        .bx-heart {
            color: rgb(216, 16, 50);
            margin-top: 15px;
            margin-left: 10px;
            padding: 4px;
            transition: $transition-1;
            &:hover {
                border-radius: 50%;
                background-color: pink;
                cursor: pointer;
            }
        }
        .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                height: 150px;
                width: 150px;
                border-radius: 50%;
                margin-bottom: 15px;
                object-fit: cover;
                object-position: center;
            }
            .sm-description {
                padding: 4px 8px;
                border: solid 1.5px $main-color;
                font-family: $ff-poppins;
                font-size: 0.675rem;
                border-radius: 3rem;
                margin: 15px 0;
            }
            .card-title {
                color: $main-color;
                text-align: center;
                margin-bottom: 18px;
            }
        }
        .footer {
            display: flex;
            justify-content: space-between;
            padding: 18px 0;
            i {
                color: white;
                padding: 6px;
                border-radius: 50%;
                background-color: $second-color;
                transition: $transition-1;
                &:hover {
                    background-color: $main-color;
                    cursor: pointer;
                }
            }
        }
    }
}

/* TEAM SECTION */
.team {
    .title {
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 35px;
    }
}
.team-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    img {
        height: 500px;
        border-radius: 8px;
    }
    .card-body {
        padding: 8px;
    }
    .name {
        font-size: 0.9rem;
        color: $main-color;
        font-family: $ff-poppins;
        margin: 12px 0;
    }
    .card-title {
        color: $text-alter-color;
        font-family: $ff-poppins;
        font-size: 0.8rem;
        margin-bottom: 15px;
    }
    .text {
        font-size: 0.9rem;
        font-family: $ff-poppins;
        color: $text-alter-color;
        margin-top: 15px;

        text-align: left;
    }
}

/* REVIEW SECTION */

.review {
    .title {
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 45px;
    }
}

.card-review {
    width: 80%;
    margin-inline: auto;
    padding: 15px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main-color;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        border: 8px solid white;
        box-shadow: 0 8px 16px hsla(355, 25%, 15%, .1);
    }
    .card-title {
        margin: 15px 0;
        font-family: $ff-poppins;
        font-size: .9rem;
        font-weight: $fw-400;
    }
    .theme {
        font-size: 1.25rem;
        margin: 15px 0;
        font-weight: $fw-700;
        text-align: center;
    }
    p {
        padding: 15px 60px;
        text-align: center;
        font-size: 0.875rem;
        font-family: $ff-poppins;
        font-weight: $fw-500;
    }
}
.swiper-pagination-bullet {
    height: 8px;
    width: 8px;
    border-radius: 0.2rem;
    background-color: $main-color !important;
    opacity: 1;
    transition: $transition-1;
}
.swiper-pagination-bullet-active {
    width: 1.5rem;
    background-color: $second-color !important;
    transition: $transition-1;
}

/* BOOK SECTION */
.book {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $bg-color;
    padding: 40px 20px;
    margin-bottom: 100px;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        z-index: -1;
    }
}
.overlay {
    content: '';
    position: absolute;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.book-data {
    .title {
        text-align: center;
        text-transform: capitalize;
    }
    form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        gap: 8px;
        padding: 17px 28px;
        border-radius: 3rem;
        background-color: white;
        i {
            color: black;
        }
    }
    p {
        text-align: center;
        font-size: 0.875rem;
        font-family: $ff-poppins;
        font-weight: $fw-500;
        margin-top: 15px;
    }
}
.input-box {
    display: flex;
    align-items: center;
    input {
        padding: 5px 8px;
        border: none;
        outline: none;
        font-family: $ff-poppins;
        font-size: 1.075rem;
    }
}
.book-btn {
    margin: 0;
    background-color: $main-color;
    color: $bg-color;
    transition: $transition-1;
    &:hover {
        background-color: $second-color;
    }
}

/* FOOTER SECTION */
.footer {
    display: grid;
    grid-template-columns: 1.2fr 0.6fr 1.2fr 1fr;
    color: $main-color;
    gap: 35px;
    line-height: 2.3;
}

.footer-part {
    .logo {
        margin-bottom: 25px;
        color: $main-color;
    }
    .social-media i{
        align-items: center;
        row-gap: 15px;
        transition: $transition-1;
        &:hover {
            color: $second-color;
            cursor: pointer;
        }
    }
    a {
        transition: $transition-1; 
        &:hover {
            color: $second-color;
        }
    }
    .part-title {
        font-weight: $fw-700;
    }
}

.copyright {
    background-color: $main-color;
    margin-top: 35px;
    text-align: center;
    padding: 20px 8px;
    p {
        color: $bg-color;
        a {
            color: $second-color;
        }
    }
}

/* RESPONSIVE */

@media screen and (max-width: 1080px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .product-body {
        grid-template-columns: repeat(3, 1fr);
        padding: 40px;
    }
}

@media screen and (max-width: 875px) {
    section {
        padding: 2rem 0;
    }
    .title {
        font-size: 2.5rem;
    }
    .service {
        .content {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .team-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 770px) {
    .home {
        min-height: 500px;
        grid-template-columns: 1fr;
        margin-top: 4.5rem;
        .title {
            font-size: 2.5rem;
        }
        .left-content {
            order: 1;
        }
    }
    .title {
        font-size: 1.6rem;
    }
    .product-body {
        grid-template-columns: repeat(2, 1fr);
    }
    .book {
        padding: 20px;
    }
    .book-data {
        margin-top: 3rem;
        max-width: 350px;
        flex-direction: column;
        width: 100%;
        form {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 8px;
            .input-box {
                border-bottom: 2px solid $main-color;
                margin-bottom: 15px;
            }
        }
        a {
            width: 100%;
            text-align: center;
            font-family: $ff-poppins
        }
    }
    .footer {
        grid-template-columns: repeat(3, auto);
    }
}
@media screen and (max-width: 700px) {
    header {
        top: 15px;
    }
    .nav {
        padding: 14px 28px ;
        justify-content: center;
        gap: 25px;
    }
    .logo {
        font-size: 1.25rem;
        margin-right: 20%;
    }
    .menu-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5px;
        z-index: 5;
        cursor: pointer;
        div {
            display: block;
            background-color: $bg-color;
            height: 2px;
            width: 23px;
            transition: $transition-1;
        }
    }
    
    .move .line-1 {
        transform: rotate(-45deg) translate(-5px, 5px);
    }
    .move .line-2 {
        opacity: 0;
    }
    .move .line-3 {
        transform: rotate(45deg) translate(-5px, -5px);
    }
    .navbar {
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-50%);
        width: 90vw;
        background-color: $text-color;
        display: flex;
        flex-direction: column;
        padding: 15px;
        border-radius: 1rem;
        text-align: center;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: $transition-2;
        .navlink {
            display: block;
            margin: 0.4rem 0;
        }
    }
    .open-navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: $transition-2;
    }
}
@media screen and (max-width: 500px) {
    .service {
        .content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .product-body {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .team-content {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .footer {
        grid-template-columns: 1fr;
        text-align: center;
        line-height: 2.5;
        ul li{
            line-height: 2.5;
        }
        .logo {margin: 15px 0%;}
    }
}
@media screen and (max-width: 380px) {
    header {
        .logo {
            margin-right: 0;
        }
    }
    .service {
        .content {
            grid-template-columns: repeat(auto-fit, minmax(auto, 140px));
            justify-content: center;
        }
        .service-card {
            margin-inline: auto;
        }
    }
    .input-box {
        input {
            width: 100%;
        }
    }
    .card-review .theme{
        font-size: .975rem;
    }
}
